<!-- Section À propos -->
<section id="about" class="about section light-background">

  <!-- Titre de la section -->
  <div class="container section-title" data-aos="fade-up">
    <h2>À propos de notre agence</h2>
    <p>Nous fournissons une plateforme intuitive et complète pour organiser, gérer et promouvoir des événements de toute taille. Notre mission est de simplifier chaque aspect de l'organisation d'événements, tout en offrant une expérience utilisateur fluide et personnalisée.</p>
  </div>
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div class="row align-items-xl-center gy-5">

      <div class="col-xl-5 content">
        <h3>À propos de nous</h3>
        <h2>Nous facilitons la gestion d'événements pour un monde connecté</h2>
        <p>Nous fournissons une plateforme intuitive et complète pour organiser, gérer et promouvoir des événements de toute taille. Notre mission est de simplifier chaque aspect de l'organisation d'événements, tout en offrant une expérience utilisateur fluide et personnalisée.</p>
        <a href="#" class="read-more"><span>En savoir plus</span><i class="bi bi-arrow-right"></i></a>
      </div>

      <div class="col-xl-7">
        <div class="row gy-4 icon-boxes">

        <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
            <i class="bi bi-calendar-event"></i>
            <h3>Gestion simplifiée des événements</h3>
            <p>Planifiez et gérez vos événements facilement grâce à des outils puissants pour organiser chaque détail, des invités à l'agenda.</p>
            </div>
        </div> <!-- End Icon Box -->

        <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
            <i class="bi bi-person-check"></i>
            <h3>Gestion des invités</h3>
            <p>S'inscrire et se désinscrire d'un événement. Consulter le programme des sessions et recevoir des notifications. Communiquer dans un espace de discussion dédié à chaque événement.</p>
            </div>
        </div> <!-- End Icon Box -->

        <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
            <i class="bi bi-briefcase"></i>
            <h3>Plateforme professionnelle</h3>
            <p>Profitez d'une interface professionnelle pour coordonner tous les aspects de l'événement, y compris les sponsors, les intervenants et les partenaires.</p>
            </div>
        </div> <!-- End Icon Box -->

        <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
            <i class="bi bi-bar-chart-line"></i>
            <h3>Analyse des performances</h3>
            <p>Analysez les résultats de vos événements grâce à des rapports détaillés pour optimiser vos futures éditions.</p>
            </div>
        </div> <!-- End Icon Box -->

        </div>

      </div>

    </div>
  </div>

</section><!-- /Section À propos -->
