<!-- Section Contact -->
<section id="contact" class="contact section">

  <!-- Titre de la section -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Contact</h2>
    <p>Les nécessités de ses conséquences, à partir de quelque chose qui fuit, en fait, la vérité est d'atteindre la perfection.</p>
  </div><!-- Fin du titre de la section -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-6">

        <div class="row gy-4">
          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="200">
              <i class="bi bi-geo-alt"></i>
              <h3>Adresse</h3>
              <p>A108 Adam Street</p>
              <p>New York, NY 535022</p>
            </div>
          </div><!-- Fin de l'élément d'information -->

          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="300">
              <i class="bi bi-telephone"></i>
              <h3>Appelez-nous</h3>
              <p>+1 5589 55488 55</p>
              <p>+1 6678 254445 41</p>
            </div>
          </div><!-- Fin de l'élément d'information -->

          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="400">
              <i class="bi bi-envelope"></i>
              <h3>Envoyez-nous un e-mail</h3>
              <p>info@example.com</p>
              <p>contact@example.com</p>
            </div>
          </div><!-- Fin de l'élément d'information -->

          <div class="col-md-6">
            <div class="info-item" data-aos="fade" data-aos-delay="500">
              <i class="bi bi-clock"></i>
              <h3>Heures d'ouverture</h3>
              <p>Lundi - Vendredi</p>
              <p>9:00AM - 05:00PM</p>
            </div>
          </div><!-- Fin de l'élément d'information -->

        </div>

      </div>

      <div class="col-lg-6">
        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Votre nom" required="">
            </div>

            <div class="col-md-6">
              <input type="email" class="form-control" name="email" placeholder="Votre email" required="">
            </div>

            <div class="col-12">
              <input type="text" class="form-control" name="subject" placeholder="Sujet" required="">
            </div>

            <div class="col-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
            </div>

            <div class="col-12 text-center">
              <div class="loading">Chargement</div>
              <div class="error-message"></div>
              <div class="sent-message">Votre message a été envoyé. Merci !</div>

              <button type="submit">Envoyer le message</button>
            </div>

          </div>
        </form>
      </div><!-- Fin du formulaire de contact -->

    </div>

  </div>

</section><!-- /Section Contact -->
