<!-- Section des publications récentes -->
<section id="recent-posts" class="recent-posts section">

  <!-- Titre de la section -->
  <div class="container section-title" data-aos="fade-up">
    <h2>Listes des Evenements </h2>
    <p>Les nécessités de ses conséquences sont en réalité la fuite de quelque chose qui semble effectivement nécessaire.</p>
  </div><!-- Fin du titre de la section -->

  <div class="container">
    <div class="row gy-4">
        {% for event in events %}
        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="{{ forloop.counter0|add:100 }}">
            <article>
                <div class="post-img">
                    <a href="{% url 'details' event.id %}"><img src="{{ event.image.url }}" alt="{{ event.title }}" class="img-fluid"></a>
                </div>

                <p class="post-category">{{ event.category }}</p>

                <h2 class="title text-justify">
                    <a href="{% url 'details' event.id %}">{{ event.title }}</a>
                </h2>

                <p class="description text-justify">{{ event.description_court }}</p>
            </article>
        </div><!-- Fin de l'élément de la liste des événements -->
        {% endfor %}
    </div><!-- Fin de la liste des événements -->
</div>

</section><!-- /Section des publications récentes -->
