<!-- Section FAQ -->
<section id="faq" class="faq section">

  <div class="container">

    <div class="row gy-4">

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="content px-xl-5">
          <h3><span>Questions Fréquemment </span><strong>Posées</strong></h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
          </p>
        </div>
      </div>

      <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">

        <div class="faq-container">
          <div class="faq-item  faq-active">
            <h3><span class="num">1.</span> <span>Quelles sont les étapes pour organiser un événement avec votre agence ?</span></h3>
            <div class="faq-content">
              <p>Nous commençons par une consultation pour comprendre vos besoins. Ensuite, nous établissons un plan détaillé, coordonnons les prestataires, et nous nous occupons de la logistique le jour de l'événement.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- Fin de l'élément FAQ -->

          <div class="faq-item ">
            <h3><span class="num">2.</span> <span>Combien de temps à l'avance faut-il réserver nos services ?</span></h3>
            <div class="faq-content">
              <p>Nous recommandons de réserver au moins 3 à 6 mois à l'avance, surtout pour les événements de grande envergure ou pendant la haute saison.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- Fin de l'élément FAQ -->

          <div class="faq-item ">
            <h3><span class="num">3.</span> <span>Offrez-vous des services de gestion de la billetterie pour les événements ?</span></h3>
            <div class="faq-content">
              <p>Oui, nous proposons des services de billetterie en ligne, y compris la gestion des inscriptions et des ventes de billets pour vos événements.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- Fin de l'élément FAQ -->

          <div class="faq-item ">
            <h3><span class="num">4.</span> <span>Proposez-vous des événements sur mesure ?</span></h3>
            <div class="faq-content">
              <p>Absolument ! Nous pouvons organiser des événements totalement personnalisés selon vos besoins, qu'il s'agisse de conférences, de séminaires, ou de soirées privées.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- Fin de l'élément FAQ -->

          <div class="faq-item ">
            <h3><span class="num">5.</span> <span>Quelles sont vos politiques en matière d'annulation ?</span></h3>
            <div class="faq-content">
              <p>Nous offrons des options flexibles d'annulation selon le type d'événement. Il est recommandé de consulter nos conditions générales pour plus de détails.</p>
            </div>
            <i class="faq-toggle bi bi-chevron-right"></i>
          </div><!-- Fin de l'élément FAQ -->

        </div>

      </div>
    </div>

  </div>

</section><!-- /Section FAQ -->
