<footer id="footer" class="footer position-relative light-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a class="logo d-flex align-items-center">
            <span class="sitename">Events Agence</span>
          </a>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Liens utiles</h4>
          <ul>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">À propos de nous</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Conditions d'utilisation</a></li>
            <li><a href="#">Politique de confidentialité</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Nos services</h4>
          <ul>
            <li><a href="#">Conception de sites web</a></li>
            <li><a href="#">Développement web</a></li>
            <li><a href="#">Gestion de produit</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Conception graphique</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contactez-nous</h4>
          <p>108, rue Adam</p>
          <p>New York, NY 535022</p>
          <p>États-Unis</p>
          <p class="mt-4"><strong>Téléphone :</strong> <span>+1 5589 55488 55</span></p>
          <p><strong>Email :</strong> <span>info@example.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="sitename">Append</strong> <span>Tous droits réservés</span></p>
      <div class="credits">
        Conçu par <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

</footer>
