
    <!-- Section Header -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

            <a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">
            {%load static%}
                <img src="{% static 'assets/img/logo/logo.png' %}" alt="Logo">
            </a>

            <nav id="navmenu" class="navmenu">
            <ul>
                {%load static%}
                <li><a href="#" class="active">Accueil</a></li>
                <li><a href="#">À propos</a></li>
                <li><a href="#">Événements</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <a class="btn-getstarted" href="#">Contactez-nous</a>

        </div>
    </header>
    
