
    <!-- Section Header -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

            <a href="#hero" class="logo d-flex align-items-center me-auto me-xl-0">
            {%load static%}
                <img src="{% static 'assets/img/logo/logo.png' %}" alt="Logo">
            </a>

            <nav id="navmenu" class="navmenu">
            <ul>
                {%load static%}
                <li><a href="#" class="active">Accueil</a></li>
                <li><a href="#clients">Sponsors</a></li>
                <li><a href="#about">À propos</a></li>
                <li><a href="#recent-posts">Événements</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>

            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <a class="btn-getstarted" href="{% url 'login_client' %}">Connexion</a>

        </div>
    </header>
    
