<!-- Hero Section -->
<section id="hero" class="hero section dark-background">

  {% load static %}  
  <!-- Vérification du chemin de l'image -->
  <img src="{% static 'assets/img/Evenements/hero-5.jpg' %}" alt="Hero Background" data-aos="fade-in" >

  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <h2 data-aos="fade-up" data-aos-delay="100">Welcome to Our Website</h2>
        <p data-aos="fade-up" data-aos-delay="200">We are a team of talented designers making websites with Bootstrap</p>
      </div>
      <div class="col-lg-5" data-aos="fade-up" data-aos-delay="300">
        <form action="forms/newsletter.php" method="post" class="php-email-form">
          <div class="sign-up-form">
            <input type="email" name="email" placeholder="Enter your email">
            <input type="submit" value="Subscribe">
          </div>
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your subscription request has been sent. Thank you!</div>
        </form>
      </div>
    </div>
  </div>

</section>



<!-- /Hero Section -->
