{% include 'layouts/admin/head_admin.html' %}

<body>

  {% include 'layouts/admin/header_admin.html' %}
  {% include 'layouts/admin/sidebar_admin.html' %}

  <main id="main" class="main">

    <div class="pagetitle">
        <h1>Éléments de formulaire</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'administration'%}">Accueil</a></li>
                <li class="breadcrumb-item">Formulaires</li>
                <li class="breadcrumb-item active">Evénements</li>
            </ol>
        </nav>
    </div><!-- Fin du titre de la page -->


    <section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Modifier l'événement</h5>

                    <!-- Éléments généraux du formulaire -->
                    <form method="POST" enctype="multipart/form-data">  <!-- Ajoutez enctype -->
                        {% csrf_token %}
                        <div class="row mb-3">
                            <label for="title" class="col-sm-2 col-form-label">Titre</label>
                            <div class="col-sm-10">
                                <input type="text" name="title" class="form-control" value="{{ event.title }}" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="category" class="col-sm-2 col-form-label">Catégorie</label>
                            <div class="col-sm-10">
                                <input type="text" name="category" class="form-control" value="{{ event.category }}" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="description_court" class="col-sm-2 col-form-label">Déscription courte</label>
                            <div class="col-sm-10">
                                <input type="text" name="description_court" class="form-control" value="{{ event.description_court }}" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="description_longue" class="col-sm-2 col-form-label">Déscription longue</label>
                            <div class="col-sm-10">
                                <textarea name="description_longue" class="form-control" required>{{ event.description_longue }}</textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="location" class="col-sm-2 col-form-label">Localisation</label>
                            <div class="col-sm-10">
                                <input type="text" name="location" class="form-control" value="{{ event.location }}" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="capacity" class="col-sm-2 col-form-label">Capacité</label>
                            <div class="col-sm-10">
                                <input type="number" name="capacity" class="form-control" value="{{ event.capacity }}" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="image" class="col-sm-2 col-form-label">Image (laisser vide pour conserver l'ancienne)</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="file" name="image" id="formFile">
                                {% if event.image %}
                                    <img src="{{ event.image.url }}" alt="Image de l'événement" style="max-width: 200px; margin-top: 10px;">
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="date" class="col-sm-2 col-form-label">Date</label>
                            <div class="col-sm-10">
                                <input type="date" name="date" class="form-control" value="{{ event.date|date:'Y-m-d' }}" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="program" class="col-sm-2 col-form-label">Programme + heure</label>
                            <div class="col-sm-10">
                                <textarea name="program" class="form-control" style="height: 100px" required>{{ event.program }}</textarea>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Bouton Modifier</label>
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Modifier l'événement</button>
                            </div>
                        </div>
                    </form><!-- Fin des éléments généraux du formulaire -->
                </div>
            </div>
        </div>
    </div>
</section>


  </main><!-- End #main -->

  {% include 'layouts/admin/footer_admin.html' %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  {% include 'layouts/admin/script_admin.html'  %}

</body>

</html>