{% include 'layouts/admin/head_admin.html' %}
<body>

  {% include 'layouts/admin/header_admin.html' %}
  {% include 'layouts/admin/sidebar_admin.html' %}

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Tableau de bord</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'administration'%}">Accueil</a></li>
          <li class="breadcrumb-item active">Tableau de bord</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <div id="chat-container">
        <div id="chat-log">
            <!-- Les messages seront affichés ici -->
        </div>
        <input type="text" id="chat-message-input" placeholder="Tapez votre message...">
    </div>

  </main><!-- End #main -->

  {% include 'layouts/admin/footer_admin.html'%}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  {% include 'layouts/admin/script_admin.html'  %}

</body>

</html>